.card
{
    text-align: center;
    place-content: center;
    width: 700px;
    height: 300px;
    margin: 210px auto;
}
.checkbox
{
    display: flex;
    flex-direction: column;
   font-size: large;
   text-align: left;
}