<mat-card appearance="outlined" class="card">
  <mat-card-content>
    <form action="" [formGroup]="testForm">
      <div>
        <div class="checkbox">
          <h3 class="question">
            {{ question.question_number }}. {{ question.question }}
          </h3>
          @if (question.options.length > 0) { @for (option of question.options;
          track $index; let idx = $index) {
          <div formArrayName="idx">
            <mat-checkbox [formControlName]="idx" (change)="pushToParent()">
              {{ option }}
            </mat-checkbox>
          </div>
          } }
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
