<mat-card appearance="outlined" class="card">
  <mat-card-content>
    <div>
      <div class="radioButtons">
        <div>
          <h3>{{ question.question_number }}. {{ question.question }}</h3>
        </div>
        <div>
          @if(question.type=='radio') {

          <mat-radio-group
            aria-label="Select an option"
            class="buttons"
            style="font-size: large"
          >
            <mat-radio-button value="{{ question.options[0] }}">
              {{ question.options[0] }}</mat-radio-button
            >
            <mat-radio-button value="{{ question.options[1] }}">
              {{ question.options[1] }}</mat-radio-button
            >
            <mat-radio-button value="{{ question.options[2] }}">
              {{ question.options[2] }}</mat-radio-button
            >
            <mat-radio-button value="{{ question.options[3] }}">
              {{ question.options[3] }}</mat-radio-button
            >
          </mat-radio-group>
          }
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
