<mat-card appearance="outlined" class="card">
  <mat-card-content>
    <form action="" [formGroup]="testForm">
      <div>
        <div class="radioButtons">
          <h3>{{ question.question_number }}. {{ question.question }}</h3>

          @if(question.type=='radio') {
          <h3>
            <mat-radio-group
              aria-label="Select an option"
              class="buttons"
              formControlName="idx"
              (change)="pushToParent()"
            >
              <mat-radio-button value="0">
                {{ question.options[0] }}</mat-radio-button
              >
              <mat-radio-button value="1">
                {{ question.options[1] }}</mat-radio-button
              >
              <mat-radio-button value="2">
                {{ question.options[2] }}</mat-radio-button
              >
              <mat-radio-button value="3">
                {{ question.options[3] }}</mat-radio-button
              >
            </mat-radio-group>
          </h3>
          } @else {
          <div class="checkBox">
            <mat-checkbox value="0" formControlName="idx">
              {{ question.options[1] }}</mat-checkbox
            >
            <mat-checkbox value="1" formControlName="idx">
              {{ question.options[1] }}</mat-checkbox
            >
            <mat-checkbox value="2" formControlName="idx">
              {{ question.options[2] }}</mat-checkbox
            >
            <mat-checkbox value="3" formControlName="idx">
              {{ question.options[3] }}</mat-checkbox
            >
          </div>
          }
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
