.radioButtons
{
  
    // padding-left: 30px;
    // padding-top: 30px;
    font-size: large;
}
.card
{
    width: 800px;
    height: 400px;
}
.buttons
{
    display: flex;
    flex-direction: column;
   font-size: large;
}

.next
{
    padding-left: 435px;
}