.radioButtons
{
  
    padding-left: 100px;
    padding-top: 50px;
    font-size: large;
}
.card
{
    width: 800px;
    height: 400px;
}
.buttons
{
    display: flex;
    flex-direction: column;
   font-size: large;
}
