/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
    display: grid;
    min-height: 100vh;
    place-content: center;
    margin: 0%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body{
    display: grid;
    min-height: 100vh;
    place-content: center;
    margin: 0%;
}