<div class="main">
    <div>
      @if (question.type == "radio") {
        <app-radio [question]="question" [answer]="answer"  (AnsEvent)="pushing($event)" />
      }@else {
        <app-check-box [question]="question" [answer]="answer"  (AnsEvent)="pushing($event)" />
      }
  <!-- <app-questions [question]="question" [answer]="answer"  (AnsEvent)="pushing($event)" /> -->
</div>
<div class="buttons">
  <button mat-raised-button (click)="gettingPrevQuestion()"  >Back</button>
  @if(question.question_number<this.dataService.len) {
  <button mat-raised-button (click)="gettingNextQuestion()"  >Next</button>
  } @else {
  <button mat-raised-button (click)="submit()">Submit</button>
  }
  </div>
</div>
