.main
{
    place-content: center;
    height: 200px;
    font-size: large;
    
}
.buttons
{
    display: flex;
gap: 500px;    margin-top: -175px;
    padding-left: 470px;
}
// mat-radio-button
// {
//     color: rgb(124, 122, 122);
// }
.questions
{
    background: orange;
    display: flex;
    gap: 20px;
    height: 30px;
    color: black;
}