<div class="questions">
  @for (item of this.question_numbers; track $index) {
   <div class="question" (click)="navigateToQuestion(item)"><h4>{{item}}</h4></div>
  }
</div>


@if(question){
  <div class="main">
    <div>
      @if (question.type == "radio") {
        <app-radio [question]="question" [answer]="answer"  (AnsEvent)="pushing($event)" />
      }@else {
        <app-check-box [question]="question" [answer]="answer"  (AnsEvent)="pushing($event)" />
      }
  <!-- <app-questions [question]="question" [answer]="answer"  (AnsEvent)="pushing($event)" /> -->
</div>
<div class="buttons">
  <div class="back">
  <button  mat-raised-button (click)="gettingPrevQuestion()" class="back-button"   style="
  background-color: green;
  font-size: 15px;
  height: 30px;
  width: 80px;
  text-transform: uppercase;
  color: white;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
" > Back</button>
</div>
<div class="next">
@if(question.question_number<this.dataService.len) {
  <button mat-raised-button (click)="gettingNextQuestion()" class="next-button"   style="
  background-color: green;
  font-size: 15px;
  height: 30px;
  width: 80px;
  text-transform: uppercase;
  color: white;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
">Next</button>
  } 
@else {
  <button (click)="submit()">Submit</button>
  }
</div>
  </div>
  </div>
}



  
  

