.main
{
    place-content: center;
    height: 200px;
}
.buttons
{
    display: flex;
gap: 500px;    margin-top: -175px;
    padding-left: 800px;
}
// mat-radio-button
// {
//     color: rgb(124, 122, 122);
// }
