.main
{
    place-content: center;
    height: 200px;
    font-size: large;
    
}
.buttons
{
    display: flex;
gap: 500px;    margin-top: -175px;
    padding-left: 470px;
}
// mat-radio-button
// {
//     color: rgb(124, 122, 122);
// }
.questions
{
    display: flex;
    gap: 50px;
    height: 30px;
    color: black;
    text-align: center;
    padding-left: 680px;
}
.question
{
    font-size: 30px;
    text-align: center;
    background-color: rgb(213, 207, 207);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 10px;
     margin-top: 30px;
     cursor: pointer;
}
