
@if(question){
  <div class="main">
    <div>
      @if (question.type == "radio") {
        <app-radio [question]="question" [answer]="answer"  (AnsEvent)="pushing($event)" />
      }@else {
        <app-check-box [question]="question" [answer]="answer"  (AnsEvent)="pushing($event)" />
      }
  <!-- <app-questions [question]="question" [answer]="answer"  (AnsEvent)="pushing($event)" /> -->
</div>
<div class="buttons">
  <div class="back">
  <button   mat-fab
  extended (click)="gettingPrevQuestion()" class="back-button"   style="
  background-color: green;
  font-size: 15px;
  height: 30px;
  width: 80px;
  text-transform: uppercase;
  color: white;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
" > Back</button>
</div>
<div class="next">
@if(question.question_number<this.dataService.len) {
  <button  mat-fab
  extended (click)="gettingNextQuestion()" class="next-button"   style="
  background-color: green;
  font-size: 15px;
  height: 30px;
  width: 80px;
  text-transform: uppercase;
  color: white;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
">Next</button>
  } 
@else {
  <button  mat-fab
  extended (click)="submit()" style="
  background-color: green;
  font-size: 15px;
  height: 30px;
  width: 80px;
  text-transform: uppercase;
  color: white;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;">Submit</button>
  }
</div>
  </div>
  </div>
}



  
  

