
.card
{
    text-align: center;
    place-content: center;
    width: 100%;
    height: 450px;
    margin: 210px auto;
    background-color: white;
    padding: 20px;
    
}
.buttons
{
    display: flex;
    flex-direction: column;
   text-align: left;
   gap: 16px;
}


// .next
// {
//     padding-left: 435px;
// }
// .checkBox
// {
//     display: flex;
//     flex-direction: column;
// }
h3{
    text-align: left;
}

.question
{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}

.options-container
{
    display: flex;
    flex-direction: column;
    
}







