<mat-card appearance="outlined" class="card">
  <mat-card-content>
    <form action="" [formGroup]="testForm">
      <div>
        <div class="radioButtons">
          <h3 class="question">
            {{ question.question_number }}. {{ question.question }}
          </h3>

          <h3>
            <mat-radio-group
              aria-label="Select an option"
              class="buttons"
              formControlName="idx"
              (change)="pushToParent()"
            >
              <mat-radio-button value="0">
                {{ question.options[0] }}</mat-radio-button
              >
              <mat-radio-button value="1">
                {{ question.options[1] }}</mat-radio-button
              >
              <mat-radio-button value="2">
                {{ question.options[2] }}</mat-radio-button
              >
              <mat-radio-button value="3">
                {{ question.options[3] }}</mat-radio-button
              >
            </mat-radio-group>
          </h3>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
