
.card
{
    text-align: center;
    place-content: center;
    width: 60%;
    height: 480px;
    margin: 210px auto;
    background-color: white;
    padding: 20px;
    
}
.buttons
{
    display: flex;
    flex-direction: column;
   text-align: left;
   gap: 16px;
}


// .next
// {
//     padding-left: 435px;
// }
// .checkBox
// {
//     display: flex;
//     flex-direction: column;
// }
h3{
    text-align: left;
}

.question
{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}

.options-container
{
    display: flex;
    flex-direction: column;
    
}


@media (max-width: 525px)
{

    card {
        width: 95%; 
        margin: 10px auto; 
        padding: 15px; 
    }

    .buttons {
        gap: 8px; 
    }

   
    
}







